/* Soluzione qui */

/*Modalità Tablet*/
@media screen and (min-width: 769px) {

    /*logo a sinistra*/
    #topbar {
        justify-content: flex-start;
        align-items: flex-start;
    }

    /*aumento padding*/
    main {
        padding: 30px;
    }

    /*compare testo*/
    .recipe-origin {
	    display: inline;
    }

    /*aumento grandezza titolo*/
    .recipe-title {
        font-size: 20px;
    }

    /*info ricetta a griglia*/
    .quick-notes ul {
	    display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .quick-notes li{
        flex-basis: calc(100% / 3);
    }

    .pin{
        flex-grow: 1;
    }

    /*estenzione btn social*/
    .btn{
        flex-basis: calc(100% / 5);
    }

    /*banner pubblicitario*/
    .ads {
        display: block;
    }

    /*immagine circondata da testo*/
    .presentation img {
        float: left;
        margin-right: 10px;
    }

}


/*Modalità Desktop*/
@media screen and (min-width: 993px) {

    /*aumento grandezza titolo*/
    .recipe-title {
	    font-size: 30px;
    }

    /*info ricetta colonna*/
    .quick-notes ul {
	    display: block;
    }
    
    /*video con info accanto*/
    .recipe-card{
        display: flex;
    }
    .recipe-video{
        width: calc(80%);
        height: calc(40vw);
    }


    /*nomi social*/
    .social-networks .label {
	    display: inline;
    }

    /*info menu footer allineati opposti*/
    footer{
        display: flex;
        justify-content: space-between;
    }
    address{
        text-align: left;
        
    }
    
}